.card {
  border: 1px solid #000;
  margin-bottom: 4rem;
}

.card-header {
  background-color: #0f5c24;
}

.card-header h2 {
  color: #FFF;
}

textarea {
  resize: none;
  min-height: 80px;
}

#tabs div {
  text-align: center;
}

#tabs .ui-state-active {
  background: #0f5c24;
  font-weight: bold;
}

a:hover {
  font-weight: normal;
}
