footer {
  text-align: center;
  background-color: #000;
  color: #FFF;
  margin-bottom: 0;
  padding: 1rem;
}

footer h4 {
  color: #FFF;
}

footer a {
  color: #FFF;
}

footer a:hover {
  color: #e3dd2b;
}
