@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300i,400i,500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style-type: none;
}

main {
	margin-top: 2rem;
	margin-bottom: 6rem;
}

i {
	margin-right: 0.2rem;
}

button {
	font-family: 'Montserrat Alternates', sans-serif;
	border: 1px solid #000;
}

button:hover {
	font-weight: bold;
	border-color: #000;
}

body {
	background-color: #BBE65E;
}

.container {
	margin-left: 10%;
	margin-right: 10%;
}

.card {
	border: 1px solid #343A40;
}

.card-header {
	font-family: 'Lobster', cursive;
	background-color: #343A40;
	color: #FFF;
}

h3.ui-state-active {
	font-family: 'Ubuntu', sans-serif;
	background-color: #343A40;
	font-weight: bold;
	border: 1px solid #000;
}

div.ui-accordion-content {
	border: 1px solid #000;
}

.ui-accordion-content {
	font-family: 'Montserrat Alternates', sans-serif;
}
