* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.div-separacion {
	height: 0.1rem;
	background-color: #ccc;
}
