header {
	background-color: #000;
	font-family: 'Lobster', cursive;
}

#sm-nav {
	background-color: #000;
}

#sm-nav .header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#sm-nav .header h1 a {
	color: #FFF;
}

#navbarContent {
	text-align: center;
}

.navbar-light, .bg-light {
	background-color: #000 !important;
}

a {
	color: #FFF;
}

a:hover {
	text-decoration: none;
	color: #e3dd2b;
	font-weight: bold;
}

i {
	color: #FFF;
}

a:hover i {
	color: #e3dd2b;
}

.div-separacion {
	height: 0.1rem;
	background-color: #FFF;
}

@media (min-width: 768px) {
	#top-nav{
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	#top-nav div#titulo {
		text-align: center;
	}

	#top-nav div#titulo h1 a:hover {
		color: #FFF;
		font-weight: normal;
	}

	#top-nav div#titulo {
		text-align: center;
		padding: 0.6rem 0rem;
	}

	#top-nav div#usuario nav ul div.row {
		display: flex;
		justify-content: center;
	}

	#top-nav div#usuario nav ul li {
		text-align: center;
	}

	#bottom-nav nav ul {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.4rem 0rem;
	}

	#bottom-nav nav ul li {
		text-align: center;
	}
}
