header {
	background-color: #000;
	font-family: 'Lobster', cursive;
}

header div#top-nav {
	height: 6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header div#top-nav div#buscar {
	width: 30%;
	text-align: center;
	display: flex;
	justify-content: center;
}

header div#top-nav div#titulo h1 a:hover {
	color: #FFF;
	font-weight: normal;
}

header div#top-nav div#buscar div#input-buscar input {
	text-align: center;
	border: 0;
	background-color: #32A852;
	color: #FFF;
	font-weight: bold;
}

::placeholder {
  color: #FFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #FFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #FFF;
}

header div#top-nav div#buscar div#input-buscar input {
	text-align: center;
	border: 0;
	background-color: #000;
	color: #FFF;
}

header div#top-nav div#buscar div#input-buscar {
	border: 1px solid #FFF;
	display: flex;
	align-items: center;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}

header div#top-nav div#buscar div#label-buscar {
	padding: 0.2rem 0.8rem;
	display: flex;
	align-items: center;
	border: 1px solid #FFF;
	border-right: 0;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}

header div#top-nav div#titulo {
	width: 40%;
	text-align: center;
	padding: 0.6rem 0rem;
}

header div#top-nav div#usuario {
	width: 30%;
}

header div#bottom-nav nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0.4rem 0rem;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

header div#top-nav div#usuario nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0;
}

a {
	color: #FFF;
}

a:hover {
	text-decoration: none;
	color: #e3dd2b;
	font-weight: bold;
}

i {
	color: #FFF;
}

a:hover i {
	color: #e3dd2b;
}

.div-separacion {
	height: 0.1rem;
	background-color: #FFF;
}
