main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Montserrat Alternates', sans-serif;
}

.banner {
	margin-bottom: 2rem;
	position: relative;
}

.banner img {
	width: 100%;
	left: 0;
}

.banner h2 {
	position: absolute;
	top: 36%;
	left: 34%;
	z-index: 100;
	font-family: 'Lobster', cursive;
	font-size: 8rem;
	color: #FFF;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0.2rem;
	cursor: default;
}

section.productos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 79%;
}

article.producto {
	width: 33%;
	padding: 0.6rem;
	margin-bottom: 0.2rem;
	background-color: #FFF;
}

div.imagen-producto img {
	width: 100%;
}

div.info-producto {
	display: flex;
	flex-wrap: wrap;
}

div.nombre-producto, div.precio-producto {
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

div.nombre-producto {
	text-transform: capitalize;
}

div.descripcion-producto {
	text-align: justify;
}

div.botones {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

div.botones form {
	width: 100%;
}

div.botones button {
	width: 100%;
	margin: 0.2rem 0;
}

aside {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 182px;
	padding: 1rem;
	width: 19%;
	height: max-content;
	background-color: #FFF;
}

aside a {
	color: #343A40;
}

aside a:hover {
	color: #343A40;
	font-weight: bold;
}

aside h4 {
	font-family: 'Ubuntu', sans-serif;
}

.div-separacion {
	height: 0.1rem;
	background-color: #343A40;
}

#go-top {
	position: fixed;
	bottom: 10%;
	right: 5%;
	cursor: pointer;
	display: none;
	font-size: 50px;
}

#go-top i {
	color: #343A40;
}

.selected {
	box-shadow: 3px 3px 2px 0 #000;
}
