.card {
  border: 1px solid #000;
}

.card-header {
  background-color: #0f5c24;
}

.card-header h2 {
  color: #FFF;
}

.btn-link {
  color: #093b17;
  text-decoration: none;
}

.btn-link:hover {
  color: #0f5c24;
  text-decoration: underline;
  font-weight: bold;
}
